.contenedorGeneral{
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/img/presentacion1.jpg"); 
    background-color: #00000000; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    @media (max-width:600px){ 
        .contenedorTituloyBtn{
            width: 100%;
            height: 65%;
            display: flex;
            .contenedorLogoLenguaje{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: end;
                .contenedorInternoLogo{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .globo{
                        font-size: 16px;
                        color: #D19F68;
                    }
                }
            }
        }
    }
}